<div class="container">
    <mat-card class="card">
        <mat-card-header class="header">
            <mat-card-title>Agregar ciudad</mat-card-title>
        </mat-card-header>
        <div class="card-body">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input 
                matInput 
                placeholder="Ingresar nombre"
                [(ngModel)]="ciudad.nombre">
            </mat-form-field>
        </div>
        <mat-card-actions align="end">
            <button mat-button (click)="guardar()">Guardar</button>
          </mat-card-actions>
    </mat-card>
</div>

