#viajes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
}

.buscador {
    margin-top: 16px;
}

.container-viajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
