<div class="container">
    <mat-card class="card">
        <mat-card-header class="header">
            <mat-card-title>Crear viaje</mat-card-title>
        </mat-card-header>
        <div class="card-body">
            <mat-form-field appearance="outline">
                <mat-label>Nombre del viaje</mat-label>
                <input matInput placeholder="Nombre del viaje">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Descripción del viaje</mat-label>
                <textarea matInput placeholder="Descripción del viaje"></textarea>
            </mat-form-field>
        </div>
    </mat-card>
</div>
