<mat-toolbar color="primary">
    <button 
    *ngIf="usuarioAutenticado"
    mat-icon-button 
    [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button 
      mat-menu-item 
      (click)="gestionarViajes()"
      *ngIf="mostrarItem('ROLE_ADMINISTRATIVO')" >Gestionar viajes</button>
      <button 
      mat-menu-item 
      (click)="gestionarColectivos()"
      *ngIf="mostrarItem('ROLE_ADMINISTRATIVO')" >Gestionar colectivos</button>
      <button 
      mat-menu-item 
      (click)="gestionarCiudades()" 
      *ngIf="mostrarItem('ROLE_ADMINISTRATIVO')" >Gestionar ciudades</button>
    </mat-menu>
    <span>Viajes</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="loginMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #loginMenu="matMenu">
      <button 
      *ngIf="!usuarioAutenticado"
      mat-menu-item 
      (click)="login()" 
      >Iniciar sesión</button>
      <button 
      *ngIf="usuarioAutenticado"
      mat-menu-item 
      (click)="logout()" >Cerrar sesión</button>
    </mat-menu>

</mat-toolbar>
  