.container {
    display: flex;
    justify-content: center;
    padding: 64px;
}

.card {
    padding: 8px;
    min-width: 400px;
}

.header {
    margin-bottom: 8px;
}

:host ::ng-deep .mat-mdc-table {
    box-shadow: none;
}