<div class="container">

    <mat-card class="card">
        <mat-card-header class="header">
          <mat-card-title>Iniciar sesión</mat-card-title>
        </mat-card-header>

        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input 
            matInput 
            placeholder="Ingresar usuario"
            [(ngModel)]="authLoginRequest.username">
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label>Contraseña</mat-label>
            <input 
            matInput 
            [(ngModel)]="authLoginRequest.password" 
            [type]="mostrarClave ? 'password' : 'text'">
            <button mat-icon-button matSuffix  type="button" (click)="mostrarClave = !mostrarClave">
              <mat-icon>{{mostrarClave ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button 
        mat-raised-button 
        type="submit" 
        color="primary" 
        (click)="login()">Iniciar sesión</button>
      
    </mat-card>

    
</div>

  
  

