<mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{viaje.nombre}}</mat-card-title>
    </mat-card-header>
    <img *ngIf="viaje.imagen" [src]="'data:image/jpeg;base64,' + viaje.imagen" alt="Imagen del Viaje">
    <mat-card-content>
      <p>
        {{viaje.descripcion}}
      </p>
      <p>
        <strong>Ciudad de origen:</strong> {{viaje.ciudadOrigen.nombre}}
      </p>
      <p>
        <strong>Ciudad de destino:</strong> {{viaje.ciudadDestino.nombre}}
      </p>
      <p>
        <strong>Fecha de salida:</strong> {{viaje.fechaHoraInicio | date:'dd/MM/yyyy HH:mm'}}
      </p>
      <p>
        <strong>Fecha de regreso:</strong> {{viaje.fechaHoraFin | date:'dd/MM/yyyy HH:mm'}}
      </p>
      <p>
        <strong>Precio:</strong> ${{viaje.precio}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="reservar(viaje)">Reservar</button>
    </mat-card-actions>
  </mat-card>
